
/* navbar */

.nav a {
  color: #9A0017;
}
.navbar a {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.navbar a:hover {
  color: #CCE5FF;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

/* link */

.lightBlueLink .lightBlueLink:hover {
   color: yellow;
   /* #CCE5FF; */
}


/* buttom formatting */

.btn-custom {
  background-color: #CCE5FF;
  border-color: #293A73;
  color: #293A73;
}

.btn-custom:hover {
  background-color: #bcd5ef;
}

.btn-big:hover {
  background-color: white;
  background-color: #e4572e;
  color: white;
}

.btn-big {
  background-color: #ffab91;
  /* FFD8D8;  */
  border-color: #e4572e;
  color: #e4572e;
}

.btn-index {
  background-color: #FA7921;
  border-color: white;
  color: white;
}

.btn-index:hover {
  color: #293A73;
  border-color: #293A73;
}

/* forms */

.form-label {
  font-size: 20px;
  color: #373C43;
}

.formOutline {
  /* border-color: #373C43; */
  /* #293A73; */
  background-color: #eeeeee;
}

.formSect {
  width: 60%;
  align: center;
}

@media (max-width: 960px) {
  .formSect {
    width: 90%;
  }
}

/* FAQ page */

.faq {
  background-color: #CCE5FF;
}

.sectLink:hover {
  color: #CCE5FF;
}

.faqHeader {
  background-color: #293A73;
}

.faqLink {
  color: #e4572e;
}

.faqLink:hover {
  color: #FE9920;
}

.card-body {
   color: #293A73;
}

.sectLink {
  color: white;
}


/* home page links */

.sect {
  margin-top: 30px;
  background-color: #909090;
  border-color: #909090;
  color: black;
  align: middle;
  width: 80%;
}

/* homepage icons */

.icon_col1 {
  text-align: right;
}

.icon_col2 {
  text-align: left;
}

@media (max-width: 540px) {
  .icon_col1, .icon_col2 {
    text-align: center;
  }
  .icon_col1 {
    margin-bottom: 20px;
  }
}

.icon:hover {
  opacity: 75%;
}


/* footer */

.page-footer {
  padding-top: 30px;
}
