
/* navbar */

.nav a {
  color: #9A0017;
}
.navbar a {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.navbar a:hover {
  color: #CCE5FF;
}


/* link */

.lightBlueLink .lightBlueLink:hover {
   color: yellow;
   /* #CCE5FF; */
}


/* buttom formatting */

.btn-custom {
  background-color: #CCE5FF;
  border-color: #293A73;
  color: #293A73;
}

.btn-custom:hover {
  background-color: #bcd5ef;
}

/* forms */

.form-label {
  font-size: 20px;
  color: #373C43;
}

.formOutline {
  /* border-color: #373C43; */
  /* #293A73; */
  background-color: #eeeeee;
}

.formSect {
  width: 60%;
  align: center;
}

@media (max-width: 960px) {
  .formSect {
    width: 90%;
  }
}

/* FAQ page */

.faq {
  background-color: #CCE5FF;
}

.sectLink:hover {
  color: #CCE5FF;
}

.faqHeader {
  background-color: #293A73;
}

.faqLink {
  color: #FA7921;
}

.faqLink:hover {
  color: #FE9920;
}

.card-body {
   color: #293A73;
}

.sectLink {
  color: white;
}


/* home page links */

.sect {
  margin-top: 30px;
  background-color: #909090;
  border-color: #909090;
  color: black;
  align: middle;
  width: 80%;
}

/* footer */

.page-footer {
  padding-top: 30px;
}
