body {
  color: #000951;
  background-color: white;
  /* #000951; */
}

h3, h1 {
  /* color: #000951; */
  color: #F8971A;
}

h1 {
  text-align: center;
}

.footer-copyright {
  background-color: #0079C1;
  color: white;
}
/* alert */

.alert-custom {
  background-color:  #000951;
  /* background-color: #b0dfff; */
  color:  #0079C1;
  margin-bottom: -10px;
}

/* navbar */

.nav a {
  color: #9A0017;
}
.navbar a {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.navbar a:hover {
  /* color: #CCE5FF; */
  color: #F6CC09;
}

.active {
  color: #F8971A;
  font-weight: bold;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

.logo {
   height: 60px;
   margin-top: -12px;
   margin-bottom:-10px;
   margin-right: -15px;
}

/* link */

.lightBlueLink .lightBlueLink:hover {
   color: yellow;
   /* #CCE5FF; */
}



/* buttom formatting */

.btn-custom {
  background-color: #0079C1;
  /* border-color: #000951; */
  color: white;
  margin-right: 20px;
}

.btn-custom:hover {
  background-color:  #000951;
  color: white;
  /* #b0dfff; */
  /* background-color: #bcd5ef; */
}

.btn-big {
  background-color: #F8971A;
  margin-right: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-big:hover {
  /* background-color: white; */
  background-color: #F6CC09;
  border-color: #F8971A;
  /* #e4572e; */
  color: #F8971A;
  /* #e4572e; */
}

.btn-index, .btn-index:disabled {
  background-color: #ffab91;
  border-color: #293A73;
  color: #293A73;
  padding: 15px;
}

/* forms */

.form-label {
  font-size: 20px;
  color: #000951;
  /* color:  #373C43; */
}

.formOutline {
  /* border-color: #373C43; */
  /* #293A73; */
  background-color: #eeeeee;
}

.formSect {
  width: 60%;
  align: center;
}

@media (max-width: 960px) {
  .formSect {
    width: 90%;
  }
}

/* FAQ page */

.faq {
  background-color: white;
  /* #b0dfff; */
}

/* background-color: #ffab91;
/* FFD8D8;  */
/* border-color: #e4572e; */

.faqHeader {
  background-color:#0079C1;
  /* background-color: #b0dfff; */
  /* background-color: #000951; */
  /*  */
}

.sectLink {
  color: white;
  /* #0079C1; */
}

.card-body {
   color: #000951;
   /* #004991; */
}

.faqLink, a {
  color: #F8971A;
}

.faqLink:hover, a:hover {
  /* color: #E75724; */
  color: #F6CC09;
}

.sectLink:hover {
  color: #F8971A;
}

a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}


/* home page */

.mainText {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  align: left;
}

@media (max-width: 940px) {
  .mainText {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* homepage icons */

.icon_col1 {
  text-align: right;
}

.icon_col2 {
  text-align: left;
}

@media (max-width: 540px) {
  .icon_col1, .icon_col2 {
    text-align: center;
  }
  .icon_col1 {
    margin-bottom: 20px;
  }
}

/* .icon:hover {
  background:
  /* opacity: 75%; */
/* }  */

.icon {
  position: relative;
  display: inline-block;
}
.icon .on_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.icon:hover .on_hover {
    display: inline;
    /* opacity: 70%; */
}


/* footer */

.page-footer {
  padding-top: 30px;
}
