absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
attrs==19.3.0
Automat==20.2.0
backports.weakref==1.0.post1
constantly==15.1.0
cryptography==2.1.4
Django==1.11.16
enum34==1.1.6
funcsigs==1.0.2
gast==0.2.2
grpcio==1.20.1
gunicorn==19.10.0
h5py==2.9.0
hyperlink==19.0.0
idna==2.9
image==1.5.27
incremental==17.5.0
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
mock==3.0.5
olefile==0.45.1
protobuf==3.7.1
pycrypto==2.6.1
pygobject==3.26.1
PyHamcrest==1.10.1
pytz==2018.7
pyxdg==0.25
PyYAML==5.3.1
SecretStorage==2.3.1
six==1.15.0
termcolor==1.1.0
tk==0.1.0
Twisted==20.3.0
Werkzeug==0.15.4
zope.interface==5.1.0
