{% extends "layout.html" %}

{% set page = 'home' %}
{% set lang = 'es' %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block warning %}
{% endblock %}

{% block header %}
  Guía de recursos para votar en {{ state_long }}
{% endblock %}

{% block body %}

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" role = "document" tabindex="-1" role="dialog">
            <div class="modal-header" text-align = "left">
                <!-- <h4 class="modal-title">Notice</h4> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style = "margin-right: 10px">&times;</button>
            </div>
            <div class="modal-body">
				      <p align = left style = "margin-left: 20px; margin-right: 20px">
                {% if state.lower() == 'ca' %}
                Por favor note que la información en esta página de internet puede cambiar. Por favor verifique
                <a href="https://www.sos.ca.gov/elections/" target="_blank">la página de internet de la Secretaría de Estado de California</a>
                para encontrar la información de votación más actualizada.
                {% elif state.lower() == 'fl' %}
                Por favor note que la información en esta página de internet puede cambiar. Por favor verifique
                <a href="https://dos.myflorida.com/elections/" target="_blank">la página de internet de la Secretaría de Estado de Florida</a>
                para encontrar la información de votación más actualizada.
                {% elif state.lower() == 'tx' %}
                  Por favor note que la información en esta página de internet puede cambiar. Por favor verifique
                  <a href="https://www.sos.state.tx.us/sos_espanol.shtml" target="_blank">la página de internet de la Secretaría de Estado de Texas</a>
                  para encontrar la información de votación más actualizada.
                {% elif state.lower() == 'ga' %}
                  Please note that information on this site is subject to change. Please check the {{ state_long }} Secretary of State website
                  <a href="https://sos.ga.gov/index.php/elections" target = "_blank">here</a> for the most up to date voting information.
                {% endif %}
              </p>
              <p align=right>
                  <button type="submit" class = "btn btn-custom" data-dismiss="modal" aria-hidden="true">OK</button>
              </p>
            </div>
        </div>
    </div>
</div>


<br>
<div class = "mainText">
  <p align = left>
    {% if state.lower() == 'ca' %}
    Debido a la pandemia de Covid-19, <strong> todos los
residentes en California debidamente
inscritos recibirán un
<a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class="faqLink">sobre de voto por correo</a></strong>
para las elecciones generales del 3 de
noviembre de 2020.
    <br><br>La fecha límite de inscripción para las
elecciones generales es <strong>el 19 de octubre de
2020</strong>. Para más información sobre fechas
importantes, consulte
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">Preguntas frecuentes</a>.

    {% elif state.lower() == 'fl' %}
    La fecha límite para registrarse para la elección general es <strong>el 5 de octubre del 2020</strong>. Más información está
      <a href="{{ url_for('faqs', state=state, lang=lang)}}">aquí</a>. Todos los
  residentes en California pueden votar por correo. Más información está
  <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class = "faqLink">aquí</a>.

    {% elif state.lower() == 'ga' %}
    The registration deadline for the November 3, 2020 general election is <strong>October 5, 2020</strong>.
    For more information about important dates see
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">Frequently Asked Questions</a>.
    The state of {{ state_long }} allows any registered voter to vote by mail. See more about vote-by-mail in {{ state_long }}
    <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class = "faqLink">here</a>.

    {% elif state.lower() == 'tx' %}
    La fecha límite para registrarse para la elección general del 3 de noviembre 2020 es <strong>el 5 de octubre del 2020.</strong>
    Más información está
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">aquí</a>.

    {% elif state.lower() == 'mn' %}
    The registration deadline for the November 3, 2020 general election is <strong>October 13, 2020</strong>.
    For more information about important dates see
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">Frequently Asked Questions</a>.
    The state of {{ state_long }} allows any registered voter to vote by mail. See more about vote-by-mail in {{ state_long }}
    <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class = "faqLink">here</a>.

    {% endif %}
  </p>
</div>
<br>

<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('registration_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/check_registration_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/check_registration_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('register', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/register_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/register_to_vote_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
 </div><br>
<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('poll_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/polling_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/polling_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/faqs_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/faqs_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
</div>


{% endblock %}
