{% extends "layout.html" %}

{% set page = 'home' %}
{% set lang = 'es' %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block warning %}
{% endblock %}

{% block header %}
  Guía de recursos para votar en {{ state_long }}
{% endblock %}

{% block body %}
<br>
<div class = "mainText">
  <p align = left>
    <font color = #373c43>
    A raíz de la pandemia de COVID-19, el gobernador de California, Gavin Newsom, ordenó que
    <strong> todos los residentes de California registrados para votar van a recibir una boleta
      en el correo para la elección general del 3 de Noviembre del 2020. </strong>
    La fecha límite para registrarse para la elección general es <strong>el 19 de Octubre del 2020.</strong>
    Para más información está
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">aquí</a>.
    </font>
  </p>
</div>

<br>

<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('registration_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/check_registration_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/check_registration_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('register', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/register_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/register_to_vote_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
 </div><br>
<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('poll_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/polling_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/polling_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/spanish/faqs_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/spanish/faqs_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
</div>


{% endblock %}
