{% extends "layout_spanish.html" %}

{% set page='pollFinder' %}

{% block body %}
  <font color=black>
    <h2>Ubicación de casilla</h2>
  </font>

  <font class="form-label">
    {{ name }} <br>
    {% if line1 != '' %}
    {{ line1 }} <br>
    {% endif %}
    <br>
  </font>

  <font color=black>
    <h2>Horario</h2>
  </font>

  <font class="form-label">
    {{ hours }}
    <br><br>
    <strong>*
Por favor note que la ubicación de su casilla puede cambiar.
<br>Verifique esta información 2-4 semanas antes de la elección.
 </strong>
  </font>
<br><br>
<!--    <h1>Address</h1>

    {{ line1 }} <br>
    {{ city }}, {{ state }} {{ zip }} <br>
    -->

    <a href = "{{ url_for('poll_forms', state=state, lang=lang }}">
      <button class="btn btn-custom">
        << Inserte otra dirección en el buscador de casillas
      </button>
    </a>

    <a href = " {{ url_for('faqs', state=state, lang=lang) }}">
      <button class="btn btn-custom">
        Preguntas frecuentes acerca de votar >>
      </button>
    </a>

    <br><br>

      <a href = "{{ url_for('register', state=state, lang=lang) }}">
        <button class="btn btn-custom">
          Registrarse para votar en California
        </button>
      </a>







{% endblock %}
