{% extends "layout.html" %}

{% set page='pollFinder' %}

{% block body %}

<a href = "{{ url_for('poll_forms', state=state, lang=lang) }}" style = "padding: 20px">
  <button class="btn btn-custom" >
    << Inserte otra dirección en el buscador de casillas
  </button>
</a>

<a href = " {{ url_for('faqs', state=state, lang=lang) }}" style = "padding: 20px">
  <button class="btn btn-custom">
      Preguntas frecuentes acerca de votar >>
  </button>
</a>

<br><br>

<h2 align=left>
Ubicaciones de casilla
</h2>
<p align=left>

<font class="form-label">
  <br>
  *Por favor note que las ubicaciones de sus casillas pueden cambiar.
  Verifique esta información 2-4 semanas antes de la elección.
    {% if state.lower() == "ca" %}
    <br><br>
      Every registered voter in California will receive a vote-by-mail ballot at the address used to register to vote.
      All voters in California are encouraged to vote by mail in the upcoming November 3, 2020 election.
      Click
      <a class = "faqLink" href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}">here</a>
      for more information.
    {% endif %}

</font>
<br><br>

{% if addressList == [] %}
   <font size = 5>No polling data for this address or no upcoming elections.</font>
{% else %}
  {% for address in addressList %}
    <font size=5><strong><font color=#e4572e>{{ address["locationName"] }}</font></strong><br>
    {{ address["line1"] }} <br>
    {{ address["city"] }}, {{address["state"]}} {{address["zip"]}} <br>
    <strong>Hours: </strong>{{ address["hours"] }}
    <br><br><font size=7>
  {% endfor %}
{% endif %}
<br>
</p>





{% endblock %}
