{% extends "layout_spanish.html" %}

{% set page='pollFinder' %}

{% block body %}
  <font color=black>
    <h2>Poll Location</h2>
  </font>

  <font class="form-label">
    {{ name }} <br>
    {% if line1 != '' %}
    {{ line1 }} <br>
    {% endif %}
    <br>
  </font>

  <font color=black>
    <h2>Hours</h2>
  </font>

  <font class="form-label">
    {{ hours }}
    <br><br>
    <strong>*Please note that polling places are subject to change.<br>
      Please make sure you check this information 2-4 weeks before the election. </strong>
  </font>
<br><br>
<!--    <h1>Address</h1>

    {{ line1 }} <br>
    {{ city }}, {{ state }} {{ zip }} <br>
    -->

    <a href = "{{ url_for('poll_forms', state=state, lang=lang }}">
      <button class="btn btn-custom">
        << Enter a different address to the poll finder
      </button>
    </a>

    <a href = " {{ url_for('faqs', state=state, lang=lang) }}">
      <button class="btn btn-custom">
        Voting FAQS >>
      </button>
    </a>

    <br><br>

      <a href = "{{ url_for('register', state=state, lang=lang) }}">
        <button class="btn btn-custom">
          Register to vote in California
        </button>
      </a>







{% endblock %}
