{% extends "layout_spanish.html" %}

{% set page='registration' %}

{% block header %}
    Estado de registro
{% endblock %}

{% block body %}

  <p>
    <font color = "black">
      <br>Información de registro para: <br>
      <strong>{{ name }}</strong>, Viviendo en: <br>
      <strong>{{ address }}</strong><br><br>
    </font>
    </p>

  {% if text == "You are registered to vote." %}
  <font color= "green" size=5>
      Usted está registrado/a para votar.
    </font>
      <br><br>

<a href = "{{ url_for('pollFinder', state=state, lang=lang) }}" style="padding: 15px">
  <button class="btn btn-custom">
    Encuenta mi casilla  >>
  </button>
</a>

  {% else %}

  <font color= "red" size=5>
      No pudimos confirmar si usted está registrado/a para votar.
    </font>
      <br>

  <div class = "container" style = "padding-left: 20%; padding-right: 20%">
  <font color=black>
    <br>
    <p align = left>Por favor tome en consideración que esto puede ser afectado por los siguientes factores:
    <ul align=left>
      <li>Si el nombre y/o la dirección que usted escribió no están idénticas a las de su información de registro.</li>
      <li>Si varios miembros de la misma familia con el mismo nombre y apellido tienen la misma dirección </li>
      <li>Si usted se registró recientemente y no está en el sistema todavía </li>
    </ul>
    </p>
  </font>
  </div>

  <a href = "{{ url_for('registration_forms', state=state, lang=lang) }}" style="padding: 15px">
    <button class="btn btn-custom">
      << Vuelva a llenar su información de registro
    </button>
  </a>
  <a href = "{{ url_for('register', state=state, lang=lang) }}" style="padding: 15px">
    <button class="btn btn-custom">
      Registrese para votar >>
    </button>
  </a>
  {% endif %}


  <a href = " {{ url_for('faqs', state=state, lang=lang) }}" style="padding: 15px">
    <button class="btn btn-custom">
      Preguntas frecuentes acerca de votar
    </button>
  </a>


{% endblock %}
