{% extends "layout.html" %}

{% set page = 'home' %}


{% block head %}
  {{ super() }}
{% endblock %}


{% block warning %}
{% endblock %}

{% block header %}
  加州选民资料指南
{% endblock %}

{% block body %}
<br>
<div class = "mainText">
  <p align = left>
    <font color = #373c43>
    鉴于当前疫情，加州州长Gavin Newsom已宣布所有登记在册的加州居民都将收到一封邮寄的选票。2020年11月3日大选的登记截止日期是2020年10月19日。
    </font>
  </p>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" role = "document" tabindex="-1" role="dialog">
            <div class="modal-header" text-align = "left">
                <!-- <h4 class="modal-title">Notice</h4> -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style = "margin-right: 10px">&times;</button>
            </div>
<div class="modal-body">
  <p align = left style = "margin-left: 20px; margin-right: 20px">
    {% if state.lower() == 'ca' %}
    请注意，本网站上的信息可能会发生变更。请
    <a href="https://www.sos.ca.gov/elections/" target="_blank">在此处</a>
    查看加州州务卿网站，了解最新的投票信息。
    {% endif %}
  </p>
  <p align=right>
      <button type="submit" class = "btn btn-custom" data-dismiss="modal" aria-hidden="true">OK</button>
  </p>
</div>
</div>
</div>
</div>


<br>

<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('registration_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/chinese/check_registration_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/chinese/check_registration_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('register', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/chinese/register_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/chinese/register_to_vote_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
 </div><br>
<div class = "row">
  <div class="col-sm icon_col1">
    <a href="{{ url_for('poll_forms', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/chinese/polling_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/chinese/polling_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
  <div class="col-sm icon_col2">
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "form-label">
      <div class = "icon">
        <img src="{{ url_for('static', filename='images/icons/chinese/faqs_before.png') }}" alt="">
        <img src="{{ url_for('static', filename='images/icons/chinese/faqs_orange.png') }}" class="on_hover" alt="">
      </div>
    </a>
  </div>
</div>


{% endblock %}
