{% extends "layout_mandarin.html" %}

{% block polling %}
<strong><font color=#e4572e>Poll Finder</font></strong>
{% endblock %}

{% block body %}
  <font color=black>
    <h2>Poll Location</h2>
  </font>

  <font class="form-label">
    {{ name }} <br>
    {% if line1 != '' %}
    {{ line1 }} <br>
    {% endif %}
    <br>
  </font>

  <font color=black>
    <h2>Hours</h2>
  </font>

  <font class="form-label">
    {{ hours }}
    <br><br>
    <strong>*Please note that polling places are subject to change.<br>
      Please make sure you check this information 2-4 weeks before the election. </strong>
  </font>
<br><br>
<!--    <h1>Address</h1>

    {{ line1 }} <br>
    {{ city }}, {{ state }} {{ zip }} <br>
    -->

    <a href = "{{ url_for('poll_forms_mandarin') }}">
      <button class="btn btn-custom">
        << Enter a different address to the poll finder
      </button>
    </a>

    <a href = " {{ url_for('faqs_mandarin') }}">
      <button class="btn btn-custom">
        投票常见问答 >>
      </button>
    </a>

    <br><br>

      <a href = "{{ url_for('register_mandarin') }}">
        <button class="btn btn-custom">
          Register to vote in California
        </button>
      </a>

{% endblock %}
