{% extends "layout_mandarin.html" %}

{% block registration %}
<strong><font color=#e4572e>已经登记投票了吗？</font></strong>
{% endblock %}

{% block header %}
    选民注册状态
{% endblock %}

{% block body %}

  <p>
    <font color = "black">
      <br>Registration information for: <br>
      <strong>{{ name }}</strong>, living at: <br>
      <strong>{{ address }}</strong><br><br>
    </font>
    {% if text == "You are registered to vote." %}
    <font color="green" size = 5>
      你以前进行过登记或预先登记投票
    </font>
    {% else %}
    <font color="red" size = 5>
      We could not confirm that you are registered to vote.
    </font>
    {% endif %}
      <br>
  </p>


  {% if text == "You are registered to vote." %}

<a href = "{{ url_for('pollFinder_mandarin') }}">
  <button class="btn btn-custom">
    找我的投票站 >>
  </button>
</a>

  {% else %}

  <div class = "container" style = "padding-left: 20%; padding-right: 20%"">
  <font color=black>
    <br>
    <p align = left>Please note that this information may be affected by the following things:
    <ul align=left>
      <li>If the name and/or address you provided does not match your registration information</li>
      <li>If multiple family members with the same first and last name reside at the same address</li>
      <li>If you registered recently and are not yet in the system</li>
    </ul>
    </p>
  </font>
  </div>

  <a href = "{{ url_for('registration_forms_mandarin') }}">
    <button class="btn btn-custom">
      << Re-enter registration information
    </button>
  </a>
  <a href = "{{ url_for('register_mandarin') }}">
    <button class="btn btn-custom">
      Register to vote in California >>
    </button>
  </a>
<br>
  {% endif %}

  <br>

  <a href = " {{ url_for('faqs_mandarin') }}">
    <button class="btn btn-custom">
      投票常见问答
    </button>
  </a>


{% endblock %}
