{% extends "layout_mandarin.html" %}

{% set page='registration' %}

{% block header %}
    选民注册状态
{% endblock %}

{% block body %}

  <p>
    <font color = "black">
      <br>注册信息 <br>
      <strong>{{ name }}</strong> 居住地 <br>
      <strong>{{ address }}</strong><br><br>
    </font>
    {% if text == "You are registered to vote." %}
    <font color="green" size = 5>
      你以前进行过登记或预先登记投票
    </font>
    {% else %}
    <font color="red" size = 5>
      我们没有您的投票登记记录
    </font>
    {% endif %}
      <br>
  </p>


  {% if text == "You are registered to vote." %}

<a href = "{{ url_for('pollFinder', state=state, lang=lang) }}" style="padding: 15px">
  <button class="btn btn-custom">
    找我的投票站 >>
  </button>
</a>

  {% else %}

  <div class = "container" style = "padding-left: 20%; padding-right: 20%" style="padding: 15px">
  <font color=black>
    <br>
    <p align = left>这一结果可能是以下原因导致的:
    <ul align=left>
      <li>所填写的名字及地址与注册信息不符</li>
      <li>同一居住地址下有同姓名的家庭成员登记</li>
      <li>如果您是近期注册的，但是没有被录入到我们的数据库</li>
    </ul>
    </p>
  </font>
  </div>

  <a href = "{{ url_for('registration_forms', state=state, lang=lang) }}" style="padding: 15px">
    <button class="btn btn-custom">
      << 重新登记注册信息
    </button>
  </a>
  <a href = "{{ url_for('register', state=state, lang=lang) }}">
    <button class="btn btn-custom">
      在加利福利亚州登记投票 >>
    </button>
  </a>

  {% endif %}



  <a href = " {{ url_for('faqs', state=state, lang=lang) }}" style="padding: 15px">
    <button class="btn btn-custom">
      投票常见问答
    </button>
  </a>


{% endblock %}
