{% extends "layout.html" %}

{% set page = 'home' %}
{% set state = 'CA' %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block warning %}
{% endblock %}

{% block header %}
  California Voter Resource Guide
{% endblock %}

{% block body %}
<br>
<div class = "mainText">
  <p align = left>
    Due to the Covid-19 pandemic, <strong>all registered California residents will receive a
    <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class="faqLink">mail-in ballot</a>
    for the November 3, 2020 general election.</strong>
    <br><br>The registration deadline for the general election is
    <strong>October 19, 2020</strong>. For more information about important dates
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">see FAQs</a>.
  </p>
</div>

<br>

  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('registration_forms', state=state, lang=lang)}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/icons/english/check_registration_icon.png') }}">
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('register', state=state, lang=lang)}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/icons/english/register_to_vote.png') }}">
      </a>
    </div>
   </div><br>
  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('poll_forms', state=state, lang=lang)}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/icons/english/polling.png') }}">
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/icons/english/faqs.png') }}">
      </a>
    </div>
  </div>


{% endblock %}
