{% extends "layout.html" %}


{% block body %}

    <section id="home">
      <div class="container" align=center>
        <br>
        <h1 align = center><font color=gray>California Voter Resource Guide</font></h1>

        <p align = center>
          <font color = lightgray>
            Please find resources below... placeholder text. Something about California all mail-in
          </font>
        </p>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="https://voterstatus.sos.ca.gov/#VoterStatusAuthenticateForm">
              <h1 align= center>
                Am I Registered to Vote?
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="https://covr.sos.ca.gov/">
              <h1 align= center>
                Register Now
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="https://www.sos.ca.gov/elections/polling-place/">
              <h1 align= center>
                Find My Polling Place
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="FAQS.html">
              <h1 align= center>
                Frequently Asked Questions
              </h1>
            </a>
        </div>
      </div>

    </section>


{% endblock %}
