{% extends "layout.html" %}

{% block title %}
  California Voter Resource Guide
{% endblock %}


{% block body %}

    <section id="home">

        <p align = center>
          <font color = lightgray>
            Please find resources below... placeholder text. Something about California all mail-in
          </font>
        </p>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="{{ url_for('registration_forms') }}">
              <h1 align= center>
                Am I Registered to Vote?
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="https://covr.sos.ca.gov/">
              <h1 align= center>
                Register Now
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href= "{{ url_for('poll_forms') }}">
              <h1 align= center>
                Find My Polling Place
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="FAQS.html">
              <h1 align= center>
                Frequently Asked Questions
              </h1>
            </a>
        </div>

    </section>


{% endblock %}
