{% extends "layout.html" %}

{% block title %}
    Find Your Polling Place
{% endblock %}

{% block body %}

    <form class = "formSect" action="{{ url_for('pollFinder') }}" method="post">

      <p align=left>
        <font size = 4 color="white"> Address </font>
      </p>

      <div class="form-group">
          <input class="form-control" type="text" name="address" placeholder="Line 1">
      </div>

      <div class="form-group">
          <input class="form-control" type="text" name="city" placeholder="City">
      </div>

      <div class="form-group">
          <input class="form-control" type="text" name="state" placeholder="State">
      </div>

      <div class="form-group">
          <input class="form-control" type="number" name="zip" placeholder="Zip Code">
      </div>

    <!--  <br>
      Date of Birth
      <div class="form-group">
          <input class="form-control" type="number" name="mon" placeholder="Month">
      </div>

      <div class="form-group">
          <input class="form-control" type="number" name="day" placeholder="Day">
      </div>

      <div class="form-group">
          <input class="form-control" type="number" name="year" placeholder="Year">
      </div> -->

      <div class="form-group" align=left>
          <button class="btn btn-secondary">Check Registration</button>
      </div>

    </form>

  <div/>

{% endblock %}
