{% extends "layout_mandarin.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block background %}

{% endblock %}
<!-- style = "background-color: #D8DBE2;"
 -->
<!--
 style = "background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,240,255,0.8)), url({{ url_for('static', filename='images/small_spool.jpg') }});
 background-repeat: repeat;
 background-size: 100%;" -->

{% block warning %}
{% endblock %}

{% block home %}
<strong><font color=#e4572e>Home</font></strong>
{% endblock %}

{% block header %}
  California Voter Resource Guide
{% endblock %}

{% block body %}
<br>
<div class = "mainText">
  <p align = left>
    <font color = #373c43>
    In light of the Covid-19 pandemic, California Governor Gavin Newsom ordered that
    <strong>all registered California residents will receive a mail-in ballot for the November 3, 2020 general election.</strong>
    <br><br>The registration deadline for the general election is
    <strong>October 19, 2020</strong>. For more information about important dates
    <a href="{{ url_for('faqs')}}" class = "faqLink">see FAQS</a>.
    </font>
  </p>
</div>

<br>

  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('registration_forms_mandarin')}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/check_registration_icon.png') }}">
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('register_mandarin')}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/register_to_vote.png') }}">
      </a>
    </div>
   </div><br>
  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('poll_forms_mandarin')}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/polling.png') }}">
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('faqs_mandarin')}}" class = "form-label">
        <img class = "icon" src="{{ url_for('static', filename='images/faqs.png') }}">
      </a>
    </div>
  </div>


{% endblock %}
