{% extends "layout.html" %}

{% set page = 'home' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block warning %}
{% endblock %}

{% block header %}
  {{ state_long }} Voter Resource Guide
{% endblock %}

{% block body %}
<br>
<div class = "mainText">
  <p align = left>
    {% if state.lower() == 'ca' %}
    Due to the Covid-19 pandemic, <strong>all registered California residents will receive a
    <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class="faqLink">mail-in ballot</a>
    for the November 3, 2020 general election.</strong>
    <br><br>The registration deadline for the general election is
    <strong>October 19, 2020</strong>. For more information about important dates
    <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">see FAQs</a>.
    {% elif state.lower() == 'fl' %}
    The state of Florida allows any registered voter to vote by mail. See more about vote-by-mail in Florida
    <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class = "faqLink">here</a>.
    {% endif %}
  </p>
</div>

<br>

  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('registration_forms', state=state, lang=lang)}}" class = "form-label">
        <div class = "icon">
          <img src="{{ url_for('static', filename='images/icons/english/check_registration_before.png') }}" alt="">
          <img src="{{ url_for('static', filename='images/icons/english/check_registration_icon_orange.png') }}" class="on_hover" alt="">
        </div>
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('register', state=state, lang=lang)}}" class = "form-label">
        <div class = "icon">
          <img src="{{ url_for('static', filename='images/icons/english/register_before.png') }}" alt="">
          <img src="{{ url_for('static', filename='images/icons/english/register_to_vote_orange.png') }}" class="on_hover" alt="">
        </div>
      </a>
    </div>
   </div><br>
  <div class = "row">
    <div class="col-sm icon_col1">
      <a href="{{ url_for('poll_forms', state=state, lang=lang)}}" class = "form-label">
        <div class = "icon">
          <img src="{{ url_for('static', filename='images/icons/english/polling_before.png') }}" alt="">
          <img src="{{ url_for('static', filename='images/icons/english/polling_orange.png') }}" class="on_hover" alt="">
        </div>
      </a>
    </div>
    <div class="col-sm icon_col2">
      <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "form-label">
        <div class = "icon">
          <img src="{{ url_for('static', filename='images/icons/english/faqs_before.png') }}" alt="">
          <img src="{{ url_for('static', filename='images/icons/english/faqs_orange.png') }}" class="on_hover" alt="">
        </div>
      </a>
    </div>
  </div>


{% endblock %}
