{% extends "layout.html" %}
{% set lang = 'en' %}

{% set page='pollFinder' %}


{% block body %}

    <a href = "{{ url_for('poll_forms', state=state, lang=lang) }}" style = "padding: 20px">
      <button class="btn btn-custom" >
        << Enter a different address to the poll finder
      </button>
    </a>

    <a href = " {{ url_for('faqs', state=state, lang=lang) }}" style = "padding: 20px">
      <button class="btn btn-custom">
        Voting FAQs >>
      </button>
    </a>

    <br><br>

  <h2 align=left>
    Poll Location(s) for your Address
  </h2>
  <p align=left>

    <font class="form-label">
      <br>
      <strong>Please note that polling places are subject to change.
        Make sure you check this information 2-4 weeks before the election.
        {% if state.lower() == "ca" %}
        <br><br>
          Every registered voter in California will receive a vote-by-mail ballot at the address used to register to vote.
          All voters in California are encouraged to vote by mail in the upcoming November 3, 2020 election.
          Click
          <a class = "faqLink" href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}">here</a>
          for more information.
        {% elif state.lower() == 'ga' %}
          Our database may not yet reflect recent changes to polling locations in Georgia. Check
          <a href="https://www.mvp.sos.ga.gov/MVP/mvp.do">here</a>
          to see Georgia's official poll finder.
        {% endif %}
      </strong>
    </font>
    <br><br>

  <div align = left>
    {% if addressList == [] %}
       <font size = 5>No polling data for this address or no upcoming elections.</font>
    {% else %}
      {% for address in addressList %}
        <h3>{{ address["locationName"] }}</h3>
        <font size=4>
        {{ address["line1"] }} <br>
        {{ address["city"] }}, {{address["state"]}} {{address["zip"]}} <br>
        <strong>Hours: </strong>{{ address["hours"] }}
        <br><br></font>
      {% endfor %}
    {% endif %}
  </div>
    <br>



      <!-- <a href = "{{ url_for('register', state=state, lang=lang) }}">
        <button class="btn btn-custom">
          Register to vote in California
        </button>
      </a> -->







{% endblock %}
