{% extends "layout.html" %}

{% set page='poll_forms' %}

{% block header %}
    Find Your Polling Place
{% endblock %}

{% block body %}

<div class = "mainText">
  <font size = 4>
    <p align=left>
    {% if state.lower() == 'ca' %}
      Due to the COVID-19 pandemic and Governor Newsom’s order to send every registered
      voter a
      <a href="{{ url_for('faqs', state=state, lang=lang) + '#vbm'}}" class = "faqLink">vote-by-mail ballot</a>
      for the November 3, 2020 general election, <strong>some polling
      locations may differ this year.</strong> Check
      <a target = "_blank" href="https://www.sos.ca.gov/elections/polling-place/">your state poll finder</a>
      <strong>2-4 weeks</strong> before November 3, 2020 if you
      plan to drop off your ballot or vote in person at a polling location. Contact
      your local county elections officials
      <a class = "faqLink" href="https://www.sos.ca.gov/elections/voting-resources/county-elections-offices/">here</a>
      if you have further questions.
    {% else %}
      Please note that polling places are subject to change. Make sure to check your polling place
      <strong>2-4 weeks</strong> before November 3, 2020.
      For more information about early voting in your county, click
      <a target="_blank" href="https://teamrv-mvp.sos.texas.gov/MVP/voterDetails.do">here</a>.
    {% endif %}
    </p>
  </font>
</div>

    <form class = "formSect" action="{{ url_for('pollFinder', state=state, lang=lang) }}" method="post">

      <p align=left>
        <font class="form-label"> Address: </font>
      </p>

      <div class="form-group">
          <input class="form-control formOutline" type="text" name="address" placeholder="Line 1" required="required">
      </div>

      <div class="form-group">
          <input class="form-control formOutline" type="text" name="city" placeholder="City" required = "required">
      </div>

      <div class="form-group">
            <select class="form-control formOutline" id="exampleFormControlSelect1" name = "state" required="required">
            <option label="State" value=""></option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District Of Columbia">District Of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
        </select>
      </div>

      <div class="form-group">
          <input class="form-control formOutline" type="number" name="zip" placeholder="Zip Code" required="required">
      </div>

    <!--  <br>
      Date of Birth
      <div class="form-group">
          <input class="form-control" type="number" name="mon" placeholder="Month">
      </div>

      <div class="form-group">
          <input class="form-control" type="number" name="day" placeholder="Day">
      </div>

      <div class="form-group">
          <input class="form-control" type="number" name="year" placeholder="Year">
      </div> -->

      <div class="form-group" align=left>
          <button class="btn btn-custom">Find my polling place</button>
      </div>

    </form>

<div class = "mainText">
  <p align = left style = "line-height: 1">
    <span style = "font-size: 12px">
    This polling information comes from the Google Civic API, a project created in conjunction with the
    <a target = "_blank" href="https://www.votinginfoproject.org/about">Voting Information Project</a>.
    <!-- The Voting Information Project is a partnership between
    <a target="_blank" href="https://www.democracy.works/">Democracy Works</a>
    and state and local election officials.  -->
    Please make sure to confirm this information with your
    state and/or local elections office.
    </span>
  </p>
</div>

{% endblock %}
