{% extends "layout.html" %}

{% set page='privacy_policy' %}

{% block warning %}
{% endblock %}

{% block header %}
    Privacy Policy and Terms of Service
{% endblock %}

{% block body %}

<div align = left>
  <p>
    Effective and last updated: August 6, 2020
  </p>
<h2>Privacy Policy</h2>

<p>
  This website ("Site") is owned and managed by the Breakthrough Voting Initiative. This Privacy Policy
  applies only to the Breakthrough Voting Initiative website and not to websites for which we provide
  external links. We do not collect personally identifying information from our users, and we never sell data.
</p>

<p>
  By using this Site, you are agreeing to our Privacy Policy and Terms of Service. Please do not use this Site if you do not
  agree to the terms outlined below.
</p>

<ol>
      <li>
        <strong>Voluntary Information Provided</strong>
        <p>
          We process information provided by the user (such as address for the poll finder). This information is only
          used for the specified purpose. For example, an address provided to the poll finder
          will only be used to find a polling place.
        </p>
      </li>
      <li>
        <strong>Tracking Information</strong>
        <p>
          We use Google Analytics to monitor user traffic and trends on this site. When you visit this site, we record basic information such as your IP address,
          referral source, browser type, and the date and time of your visit.
          We use aggregate data only in order to identify large scale trends in website usage.
          We do not link this information to your identity. See more about Google Analytics policies here:
          <a href="https://support.google.com/analytics/answer/6004245">https://support.google.com/analytics/answer/6004245</a>.
        </p>
      </li>
      <li>
        <strong>Cookies</strong>
        <p>
          Our site uses “cookies” to enable Google Analytics.
          Most browsers' default settings allow cookies, but allow you to change cookie settings, including whether or not to accept them and how to remove them.
          See more about Google Analytics cookie policies here:
          <a href="https://support.google.com/analytics/answer/6004245">https://support.google.com/analytics/answer/6004245</a>.
        </p>
      </li>
      <li>
        <strong>Information Disclosure to Third Parties</strong>
        <p>
          We will never sell any personal information to third parties. We use the Google Civic API to provide polling locations, and we submit
          address data only to this API.
          We will not otherwise disclose personal information to any third parties unless required by law.
        </p>
      </li>
      <li>
        <strong>Security of Personal Information</strong>
    <p>
      We do not store any personal information on our site.
      We cannot guarantee total security, and we are not responsible for any harm a security breach may cause.
    </p>
    </li>
    <li> <strong>Children's Privacy</strong>
      <p>
        This site is intended for citizens at least 16 years of age who are eligible to vote or pre-register to vote.
        This site is not intended for children under 13 years of age.
      </p>
    </li>
    <li>
      <strong>Changes to the Privacy Policy</strong>
      <p>
      We reserve the right to change this Privacy Policy. By using this Site, you are agreeing to the Privacy Policy posted at the time of use.
      </p>
    </li>
    <li>
      <strong>Contact</strong>
      <p>
        If you have any questions or concerns about this policy, please contact us at BVI.info@gmail.com.
      </p>
    </li>
</ol>

<h2>Terms of Use</h2>
<p>
  By using this Site, you are agreeing to the terms of use outlined below. Please do not use this Site if you do not agree to these terms.
</p>

<ol>
  <li>
    <strong>Disclaimer of Warranty and Limitation of Liabilities</strong>
    <p>
      It is our goal to provide accurate and up-to-date information on this site. However, we cannot guarantee that any information on this site is
      complete, accurate, up-to-date, or reliable. Ultimately, it is the voter's responsibility to check state and/or county information and to ensure that
      they have the most accurate and timely information.
    </p>
    <p>
      As such, we provide this Site without any warranties or guarantees. We make no warranties of any kind, including but not limited to the
      security, accuracy, performance, or timeliness of the services and information provided on the Site.
    </p>
    <p>
      We will not be liable for any harm done or incorrect information provided by this Site. Use of the Site is at your own risk.
    </p>
    <p>
      We reserve the right to modify the Site or terminate access to the Site at any point. We will not be liable for any harm
      caused as a result of modifications or termination of the Site.
    </p>
  </li>
  <li><strong>Data Collection and Use</strong>
  <p>
    For full information on information collection, please see our Privacy Policy above.
  </p></li>
  <li>
    <strong>No Waiver of Terms</strong>
    <p>
      Failure to enforce or exercise any part of these terms does not suffice as a waiver of any of these terms at any point in time.
    </p>
  </li>
  <li>
    <strong>Changes to the Terms</strong>
    <p>
    We reserve the right to change the Terms of Use. By using this Site, you are agreeing to the terms posted at the time of use.
    </p>
  </li>
  <li>
    <strong>Contact</strong>
    <p>
      If you have any questions or concerns about these terms, please contact us at BVI.info@gmail.com.
    </p>
  </li>
</ol>


</div>

{% endblock %}
