{% extends "layout.html" %}
{% set lang = 'en' %}

{% set page='registration' %}

{% block header %}
    Registration Status
{% endblock %}

{% block body %}

  <p>
    <font color = "black">
      <br>Registration information for: <br>
      <strong>{{ name }}</strong>, living at: <br>
      <strong>{{ address }}</strong><br><br>
    </font>
    <font {% if text == "You are registered to vote." %} color="green" {% else %} color="red" {% endif %} size = 5>
      {{ text }}
    </font>
      <br>
  </p>

  {% if state.lower() == 'fl' %}
  If you think this information may be incorrect, check the offical Florida registration site
  <a href="https://registration.elections.myflorida.com/CheckVoterStatus">here</a>.
  <br>
  {% elif state.lower() == 'ga' %}
  If you think this information may be incorrect, check the offical Georgia registration site
  <a href="https://www.mvp.sos.ga.gov/MVP/mvp.do">here</a>.
  <br>
  {% endif %}
  <br>


  {% if text == "You are registered to vote." %}

  <a href = "{{ url_for('pollFinder', state=state, lang=lang) }}">
    <button class="btn btn-custom">
      Find my polling place >>
    </button>
  </a><br>

  {% else %}

  <div class = "container" style = "padding-left: 20%; padding-right: 20%"">
    <br>
    <p align = left>Please note that this information may be affected by the following things:
    <ul align=left>
      <li>If the name and/or address you provided does not match your registration information</li>
      <li>If multiple family members with the same first and last name reside at the same address</li>
      <li>If you registered recently and are not yet in the system</li>
    </ul>
    </p>
  </div>


  <a href = "{{ url_for('registration_forms', state=state, lang=lang) }}">
    <button class="btn btn-custom">
      << Re-enter registration information
    </button>
  </a>
  <a href = "{{ url_for('register', state=state, lang=lang) }}">
    <button class="btn btn-custom">
      Register to vote >>
    </button>
  </a>
<br>
  {% endif %}

  <br>

  <a href = " {{ url_for('faqs', state=state, lang=lang) }}">
    <button class="btn btn-custom">
      Voting FAQs
    </button>
  </a>


{% endblock %}
