{% extends "layout.html" %}

{% set page='faqs' %}

{% set state = 'fl' %}

{% block header %}
    Frequently Asked Questions
{% endblock %}

{% block body %}

<br>
<p align = center>
  <a href="#registration">
    <button class = "btn btn-big" style = "margin-right: 20px">Registration Questions</button>
  </a>
  <a href="#general">
    <button class = "btn btn-big" style = "margin-right: 20px">General Voting Questions</button>
  </a>
  <a href="#vbm">
    <button class = "btn btn-big">Vote-by-Mail Questions</button>
  </a>
</p>
<br>

<a class="anchor" id="registration"></a>
<h3 align=left margin-bottom=10px>Questions About Voter Registration</h3><br>
<div id="accordion0" align=left style = "margin-bottom: 30px">
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Two">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Two" aria-expanded="false" aria-controls="collapse_r_Two">
          When is the registration deadline for the November 3, 2020 general election?
        </button>
      </h4>
    </div>
    <div id="collapse_r_Two" class="collapse" aria-labelledby="heading_r_Two" data-parent="#accordion0">
      <div class="card-body">
        <strong>The voter registration application deadline for eligible individuals in Florida is October 5, 2020. </strong>
        <br><br>
        Eligible individuals can
        <a href="https://registertovoteflorida.gov/eligibilityreactive">apply to register to vote online</a>
        at any time until October 5, 2020. <strong>To register, you need your Florida driver license (Florida DL) or Florida identification card (Florida ID card)</strong>
        issued by the Florida Department of Highway Safety and Motor Vehicles and the last four digits of your Social Security number.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Three">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Three" aria-expanded="false" aria-controls="collapse_r_Three">
          How do I apply to register to vote?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Three" class="collapse" aria-labelledby="heading_r_Three" data-parent="#accordion0">
      <div class="card-body">
        The easiest way to apply to register to vote is to
        <a href="https://registertovoteflorida.gov/eligibilityreactive">apply online </a> by
        <strong>October 5, 2020</strong>.
        You will need your Florida driver’s license or Florida identification card and the last four digits of your social security number.
        <br><br>
        <strong>
          Note: If you do not have any one or all of the information above, you may still use the online system to
          prefill a voter registration application form. However, you will have to print, sign, and then mail or
          deliver in person your completed voter registration application to your
          <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        </strong>
          <br><br>
          You can also apply to register to vote in the following ways:
          <ul>
            <li>In-person at a Florida driver license office.</li>
            <li>In-person at a tax collector's office that issues driver licenses or Florida identification (ID) cards.</li>
            <li>Online through the Florida Department of Highway Safety and Motor Vehicles' online website for renewing a driver license or state identification card.</li>
            <li>In person through a voter registration agency such as a public assistance office or public library.</li>
            <li>By submitting a paper voter registration application by mail or in-person.</li>
          </ul>
          Note: Some of these alternative methods to apply to vote may not be currently available due to the Covid-19 pandemic. Check with your
          <a href="https://dos.elections.myflorida.com/supervisors">county Supervisor of Elections’ office</a> for more details.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Four">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Four" aria-expanded="false" aria-controls="collapse_r_Four">
          Am I automatically registered to vote when I submit the online application?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Four" class="collapse" aria-labelledby="heading_r_Four" data-parent="#accordion0">
      <div class="card-body">
        No. Once your application is submitted online, your local Supervisor of Elections must review your application.
        <strong>If all of the information is verified and the application is deemed complete,
          the local Supervisor of Elections office will issue a voter information card.</strong>
      </div>
    </div>
  </div>

  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Five">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Five" aria-expanded="false" aria-controls="collapse_r_Five">
          How do I check if I’m registered?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Five" class="collapse" aria-labelledby="heading_r_Five" data-parent="#accordion0">
      <div class="card-body">
        Click
        <a href="https://registration.elections.myflorida.com/CheckVoterStatus" target = "_blank">here</a>
        to check your registration status.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Six">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Six" aria-expanded="false" aria-controls="collapse_r_Six">
          Am I eligible to vote?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Six" class="collapse" aria-labelledby="heading_r_Six" data-parent="#accordion0">
      <div class="card-body">
        To apply to register to vote in Florida, <strong>ALL</strong> of the following must be true:
        <ul>
          <li>
            US citizen and Florida resident. More information for military personnel and those living overseas
            <a href="https://dos.myflorida.com/elections/for-voters/voting/military-and-overseas-citizens-voting/">here</a>
          </li>
          <li>18 years or older at the time of registration. However, you can pre-register to vote at 16 years old.</li>
          <li>Not ruled mentally incapacitated by a court with respect to voting in Florida or any other state.
          Individuals in this situation are only elgible to vote if their voting rights have been restored.</li>
          <li>Not convicted of a felony <strong>unless your voting rights have been restored.</strong>
            Find more information on restoring voting rights
            <a href="https://dos.myflorida.com/elections/contacts/frequently-asked-questions/faq-voter-registration/">here</a>
            under question 15 of the State of Florida’s Voter Registration FAQ.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_0">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_0" aria-expanded="false" aria-controls="collapse_r_0">
          I did not vote in the last election. Do I need to re-register to vote?
        </button>
      </h4>
    </div>
    <div id="collapse_r_0" class="collapse" aria-labelledby="heading_r_0" data-parent="#accordion0">
      <div class="card-body">
        <strong>Possibly.</strong> To check your registration status, check your registration
        <a href="https://registration.elections.myflorida.com/CheckVoterStatus">here</a>
        or contact your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        <br><br>
        If you are not currently registered and need to re-register to vote, the deadline to register is <strong>October 5, 2020</strong>.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Eight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Eight" aria-expanded="false" aria-controls="collapse_r_Eight">
          What happens if I miss the registration deadline?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Eight" class="collapse" aria-labelledby="heading_r_Eight" data-parent="#accordion0">
      <div class="card-body">
        A late registration deadline is available if you (or accompanying family member)
        have been discharged or separated from the Merchant Marines or armed forces,
        or from employment outside the territorial United States.
        The late registration deadline is 5 p.m. on Friday, October 30, 2020 (the Friday before Election Day) in the county in which you are to be registered.

        Contact your
        <a href="https://dos.elections.myflorida.com/supervisors">county Supervisor of Elections’ office</a>
        for more information and to obtain a late registration form.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r_Seven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r_Seven" aria-expanded="false" aria-controls="collapse_r_Seven">
          What is a voter information card?
        </button>
      </h5>
    </div>
    <div id="collapse_r_Seven" class="collapse" aria-labelledby="heading_r_Seven" data-parent="#accordion0">
      <div class="card-body">
        When your application to register to vote is verified or you update your voter registration record
        (e.g., change to your address, name or political party), your Supervisor of Elections’ office will
        mail you a new or updated voter information card within 5 days of verifying your registration.
        <br><br>
        Review the card to make sure all information is correct.
        <strong>
          Keep the card with you as the card lists important information about your registration record and where to vote.
        </strong>
        The card includes your party affiliation, assigned precinct and polling place, and your assigned district offices (local, state, and federal).
        <br><br>
        <strong>
          If you do not receive your voter information card within 2 weeks registering to vote or updating your voter registration, contact your
          <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        </strong>
        <br></br>
        If you need to replace a lost card, call or email your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        <br><br>
        <strong>
          Note: Your voter information card cannot be used as a form of identification at the polls.
        </strong>
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading_r">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse_r" aria-expanded="false" aria-controls="collapse_r">
        If I am not yet 18 years old, can I pre-register to vote?
        </button>
      </h5>
    </div>
    <div id="collapse_r" class="collapse" aria-labelledby="heading_r" data-parent="#accordion0">
      <div class="card-body">
        Yes! If you are 16 or 17 years of age or older and meet the other voter eligibility requirements, you can pre-register to vote
        <a href="https://registertovoteflorida.gov/eligibilityreactive">here</a>.
      </div>
    </div>
  </div>
</div>

<a class="anchor" id="general"></a>
<h3 align=left margin-bottom=10px>General Questions About Voting</h3><br>
<div id="accordion" align=left style = "margin-bottom: 30px">
  <div class="card faq">
    <div class="card-header faqHeader" id="headingOne">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            How do I update my voter registration information?
        </button>
      </h4>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        If you are already registered to vote in Florida but you need to update any information on your voter registration record, you can submit a change
        <a href="https://registertovoteflorida.gov/home">here</a>.
        <br><br>
        You can also call or email an address change to your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        <br><br>
        For any other questions, call or email your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingTwo">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What do I need to bring with me on Election Day?
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        When voting early or on Election Day (November 3, 2020),
        <strong>
          voters are required to provide a valid photo ID with signature.
        </strong>
         Any ONE of the following forms of <strong>photo ID</strong> are accepted:
         <ul>
           <li>Florida driver license</li>
           <li>Florida ID card (issued by the Department of Highway Safety and Motor Vehicles)</li>
           <li>United States passport</li>
           <li>Debit or credit card</li>
           <li>Military ID</li>
           <li>Student ID</li>
           <li>Retirement center ID</li>
           <li>Neighborhood association ID</li>
           <li>Public assistance ID</li>
           <li>Veteran health ID card (Issued by the United States Department of Veterans Affairs)</li>
           <li>License to carry a concealed weapon or firearm</li>
           <li>Employee ID card issued by any branch, department, agency, or entity of the Federal Government, the state, a county, or a municipality.</li>
         </ul>
         <strong>
           If your photo ID does not include your signature, you must provide another ID that has your signature.
         </strong>
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Can I vote early in Florida?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <strong>
          Early voting in Florida will occur in every county from October 24, 2020 thru October 31, 2020.
        </strong>
        Each county in Florida can offer more days of early voting beyond the October 24 - October 31 window. To see if your county offers expanded early voting, check with your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
        <br><br>
        Early voting locations and times will be made available by your county Supervisor of Elections no later than 30 days prior to the election. To find out when your early voting locations will be open, check with your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          I forgot or do not have a proper ID to vote. Can I still cast a ballot?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <strong>
          If you do not bring proper ID to vote, you can still cast a provisional ballot.
        </strong>
        If you are eligible and a voter in the proper precinct, your provisional ballot will count as
        long as the signature on your provisional ballot matches the signature in your registration record.
      </div>
    </div>
  </div>

  <div class="card faq">
    <div class="card-header faqHeader" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Can I get time off to vote?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Florida law does not require an employer to allow employees time off, paid or unpaid, to vote.
        <br><br>
        However, Florida law prohibits an employer from firing or threatening to fire any employee for voting or not
        voting in an election, for a particular candidate, or for a specific ballot measure.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          I just moved to Florida from another state and want to vote in Florida. Is there anything I need to do about my prior voter registration?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        If you intend to vote in Florida, you must first register to vote in Florida.
        <strong>
          Click
          <a href="https://registertovoteflorida.gov/eligibilityreactive">here</a>
          to register to vote by October 5, 2020.
        </strong>
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading0">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
          I just moved within Florida. How do I update my voter registration?
        </button>
      </h4>
    </div>
    <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
      <div class="card-body">
        If you moved within the same county or moved to another county in Florida, you do not need to re-register to vote.
        <br><br>
        However, you do need to update the address on your voter registration record. Contact your new
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>
        to update your address change.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
           I need assistance to vote due to a disability. What are my options?
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        If you need assistance to vote due to a disability, you have several options. <br>
        <ol>
          <li>Receive personal help at the polls during early voting or on Election Day</li>
          <li>Vote on a touch screen or other accessible marking devices at the polls</li>
          <li>Vote-by-mail from the comfort of your home</li>
          <li>Participate in supervised voting</li>
        </ol><br>
        For more information about these options, visit the
        <a href="https://dos.myflorida.com/elections/for-voters/voting/accessible-voting-for-persons-with-disabilities/">State of Florida’s website</a>
        or contact your
        <a href="https://dos.elections.myflorida.com/supervisors" target="_blank">county Supervisor of Elections’ office</a>
        for more details.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Is there language assistance for voting?
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        Florida provides language assistance and translated election-related materials in Spanish.
        <br><br>
        For more information, visit the
        <a href="https://dos.myflorida.com/elections/for-voters/voting/language-assistance-for-voting/"> State of Florida’s website</a>
        about language and translation assistance.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          My question was not answered. Where can I find more information?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        For more information about voting, go to the
        <a href="https://dos.myflorida.com/elections/for-voters/"> State of Florida’s website</a>.
      </div>
    </div>
  </div>
</div>

<a class="anchor" id="vbm"></a>
<h3 align=left id='vbm'>Questions About Vote-by-Mail</h3><br>
<div align=left id='accordion2' style = "margin-bottom: 30px">
  <div class="card faq">
    <div class="card-header faqHeader" id="headinga">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapsea" aria-expanded="false" aria-controls="collapsea">
          How do I request to vote by mail?
        </button>
      </h4>
    </div>

    <div id="collapsea" class="collapse" aria-labelledby="headinga" data-parent="#accordion2">
      <div class="card-body">
        <strong>
          Anyone in Florida can request to vote by mail.
        </strong>
        Voters who do not want to vote at a polling place in the November 3, 2020 general election may elect to vote by mail to avoid COVID-19 exposure.
        <br><br>
        A request to vote by mail may be made in one of the following ways:
        <ul>
          <li>Online application on your
            <a href="https://dos.elections.myflorida.com/supervisors/" target='_blank'>county Supervisors of Elections’</a> website
          </li>
          <li>
            By other writing (i.e. by email, fax, mail) to your Supervisor of Elections
          </li>
          <li>
            In person at the office of you Supervisor of Elections
          </li>
          <li>
            By telephone call to your Supervisor of Elections
          </li>
        </ul>

        To make a request, the following information is required:
        <ul>
          <li>The name of the voter for whom the ballot is being requested</li>
          <li>The voter’s address</li>
          <li>The voter’s date of birth</li>
          <li>The voter’s signature (if the request is written and the request is to an address other than on one’s voter file)</li>
        </ul>

        If an immediate family member or legal guardian is requesting a vote-by-mail ballot as directed by the voter, the following additional information must be provided:
        <ul>
          <li>
            The requestor’s address
          </li>
          <li>The requestor’s driver’s license number (if available)</li>
          <li>The requestor’s relationship to the voter</li>
          <li>The requestor’s signature (if the request is written)</li>
        </ul>
        <strong>A request for a vote-by-mail ballot must be mailed no later than 5pm on October 24, 2020. </strong>
      </div>
    </div>
  </div>
	<div class="card faq">
		<div class="card-header faqHeader" id="heading1">
			<h4 class="mb-0">
				<button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
					How will I receive my vote-by-mail ballot?
				</button>
			</h4>
		</div>
		<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion2">
			<div class="card-body">
        Your county Supervisor of Elections must mail your requested ballot within 2 business days after your request for a vote-by-mail is received.
        The last day for a Supervisor to be able to mail out a ballot is 8 days before the election (October 26, 2020).
        <br><br>
        <strong>
          To guarantee that you receive your vote-by-mail ballot for the general election on November 3, submit a request to your county Supervisor of Elections as soon as possible.
        </strong>
        <br><br>
        In previous elections, voters in some counties had the option to pick up their blank vote-by-mail ballot in person. Due to Covid-19 it is unclear if this option will be available for the general election on November 3, 2020.
        Please contact your
        <a href="https://dos.elections.myflorida.com/supervisors/" target="_blank">county Supervisor of Elections</a> for more information.
        <br><br>
        NOTE: <strong>You should check your vote-by-mail status every calendar year.</strong>  If you voted by mail in an election prior to 2020, you may need to submit a new request.
        If you voted by mail this year (in 2020) in a previous election you do not need to submit a new request.
        <strong>
          Check your vote-by-mail status
          <a href="https://registration.elections.myflorida.com/CheckVoterStatus">here</a>.
        </strong>
			</div>
		</div>
	</div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading0">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapse01">
          I have been approved to vote by mail. How do I complete my vote-by-mail ballot?
        </button>
      </h4>
    </div>
    <div id="collapse01" class="collapse" aria-labelledby="heading01" data-parent="#accordion2">
      <div class="card-body">
        Voting by mail is simple:
        <ol>
          <li>Fill out your ballot.
          <ul>
            <li>Use a black ballpoint pen. Do not use felt-tip pens.</li>
            <li>Fully blacken desired ovals.</li>
            <li>Do not sign or initial on the ballot.</li>
          </ul></li>
          <li>Sign the return envelope (in the indicated box) and print the date below.
          <ul>
            <li>IMPORTANT:
            <strong>he signature on your voter file MUST match the signature on your vote-by-mail ballot’s return envelope.</strong>
            If signatures don’t match, you will have until 5:00 pm on November 5, 2020 to correct any signature deficiencies.
            </li>
            <li>Place completed ballot in the return envelope provided.</li>
            <li>Write the return address on the return envelope.</li>
            <li>Make sure to complete all information on the outside of the return envelope.</li>
          </ul></li>
          <li>Return your ballot in time! You have a few options for returning your ballot. <strong>If you are not sure that your vote-by-mail ballot will arrive in time if mailed, bring your ballot to any polling location
            in the state between 7:00 am and 8:00 pm on Election Day (November 3, 2020).</strong>
          <ol>
            <li>Mail
            <ul>
              <li><strong>Remember to affix required postage</strong>; the return envelope is NOT prepaid.</li>
              <li>
                <strong>
                  Plan on mailing your vote-by-mail ballot by October 27, 2020
                </strong>(one week before the general election on November 3, 2020).
              </li>
              <li>The return envelope with your ballot <strong>must be received by your county Supervisor of Elections by 7pm on Election Day.
                </strong>
              </li>
            </ul></li>
            <li> Return via drop-off
              <ul>
                <li>
                  Return your completed ballot at a secure drop box at early voting sites during the early voting period in your county.
                  Please contact your
                  <a href="https://dos.elections.myflorida.com/supervisors/", target="_blank">county Supervisor of Elections</a>
                  or visit their website for the location of all vote-by-mail ballot secure drop boxes in your county.
                </li>
              </ul>
          </ol></li>
        </ol>
      </div>
    </div>
  </div>
	<div class="card faq">
		<div class="card-header faqHeader" id="heading2">
			<h4 class="mb-0">
				<button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          I received a vote-by-mail ballot but I want to vote at the polls in person. What should I do?
				</button>
			</h4>
		</div>
		<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion2">
			<div class="card-body">
				<strong>
          All voters who request to vote by mail also have the option of voting at their assigned polling location.
        </strong>
        <br><br>
        <strong>
          If you decide to go to the polls to vote instead of voting by mail, you should bring your vote-by-mail ballot (marked or not).
        </strong> The vote-by-mail ballot will be canceled and you will then be able to vote with regular a ballot at the polls.
        <br><br>
        If you come to the polls without your vote-by-mail ballot, you can vote with a regular ballot if the Supervisor of Elections' office can confirm that it has not received your vote-by-mail ballot. If it is confirmed that the Supervisor of Elections’ office has received your vote-by-mail ballot or it cannot be determined, you will not be able to vote with a regular ballot at the polls.
        <br><br>
        However, if you believe that you have not already voted, you can vote with a provisional ballot.
			</div>
		</div>
	</div>
	<div class="card faq">
		<div class="card-header faqHeader" id="heading3">
			<h4 class="mb-0">
				<button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					What is the deadline to return a vote-by-mail ballot?
				</button>
			</h4>
		</div>
		<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion2">
			<div class="card-body">
				<strong>
          A completed vote-by-mail ballot must be received by the Supervisor of Elections no later than 7pm on Election Day (November 3, 2020) for the ballot to be counted.
        </strong>
        <br><br>
        Other return options are available for
        <a href="https://www.dos.myflorida.com/elections/for-voters/voting/military-and-overseas-citizens-voting/">military and overseas voters</a>
        under certain circumstances.
        <br><br>
        The United States Postal Service recommends that domestic nonmilitary
        <strong>
          voters mail back their voted ballots at least 1 week before the Election Day deadline
        </strong>
        to account for any unforeseen events or weather issues.
        <br><br>
        <strong>
          Vote-by-mail ballots may also be returned at secure drop boxes at early voting sites during the early voting period
        </strong>
        (October 24-31, 2020, and possibly other dates depending on county) preceding Election Day (November, 3, 2020). Contact your
        <a href="https://dos.elections.myflorida.com/supervisors/", target="_blank">county Supervisor of Elections</a>
        or visit their website for the location of all vote-by-mail ballot secure drop boxes in your county.
			</div>
		</div>
	</div>
	<div class="card faq">
		<div class="card-header faqHeader" id="heading4">
			<h4 class="mb-0">
				<button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
					Do I need to re-request to vote-by-mail in the upcoming November 3, 2020 general election if I voted by mail in the past?
				</button>
			</h4>
		</div>
		<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion2">
			<div class="card-body">
				<strong>
          You should check your vote-by-mail every calendar year.
        </strong>
        <br><br>
          If you voted by mail in an election prior to 2020, you may need to submit a new request. If you voted by mail this year (in 2020) in a previous election you do not need to submit a new request.
          <strong>
          Check your vote-by-mail status</strong>
          <a href="https://registration.elections.myflorida.com/CheckVoterStatus">here</a>.
			</div>
		</div>
	</div>
  <div class="card faq">
		<div class="card-header faqHeader" id="heading5">
			<h4 class="mb-0">
				<button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          How do I correct a missing or mismatched signature on my vote-by-mail ballot?
				</button>
			</h4>
		</div>
		<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion2">
			<div class="card-body">
        If you are notified that your signature on your vote-by-mail ballot is missing or does not match the signature on record, you may complete and return a “Vote-by-Mail Ballot Cure” Affidavit
        (<a href="https://dos.myflorida.com/media/700479/dsde139.pdf">Form DS-DE 139</a>) with a copy of identification to your county Supervisor of Elections.
        <br><br>
        The documentation can be returned by mail, email, fax, or in person.
        <strong>
          The “Vote-by-Mail Ballot Cure” Affidavit and copy of ID must be submitted to your county Supervisor of Elections by 5 p.m. (local time) on November 5, 2020.
        </strong>
        <br><br>
        If you fail to return this form and copy of ID to your county Supervisor of Elections by 5 p.m on November 5, 2020, your ballot will not be counted.
      </div>
		</div>
	</div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading6">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          What if my mailing address has changed from when I registered to vote and I intend to vote by mail?
        </button>
      </h4>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion2">
      <div class="card-body">
        To change information pertaining to your voter registration, click
        <a href="https://registertovoteflorida.gov/home" target = "_blank">here</a>. You may need to submit a new request to vote by mail, and should contact your
        <a href="https://dos.elections.myflorida.com/supervisors/", target="_blank">county Supervisor of Elections</a>.
      </div>
    </div>
  </div>
  <div class="card faq">
    <div class="card-header faqHeader" id="heading9">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed sectLink" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          How do I track my vote-by-mail ballot request and returned ballot?
        </button>
      </h4>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion2">
      <div class="card-body">
        If you request a vote-by-mail ballot, you can track the status of your ballot via the State of Florida’s
        <a href="https://registration.elections.myflorida.com/CheckVoterStatus", target="_blank">Voter Information tool</a> or via your <a href="https://dos.elections.myflorida.com/supervisors/", target="_blank">county Supervisor of Elections</a>.
      </div>
    </div>
  </div>
</div>


{% endblock %}
