{% extends "layout.html" %}

{% block title %}
  Confirm email
{% endblock %}

{% block header %}
    Please confirm your email address to verify your identity
{% endblock %}

{% block body %}

<font color = "white">Is this your email address?<br><br>
sarahrileydean@gmail.com
</font>

<br><br>

<a href = "{{ url_for('warning') }}">
  <button class="btn btn-secondary" style = "background-color: green">
    Yes, this is my email address >>
  </button>
</a>

{% endblock %}
