

    {% block footer %}
      <footer class = "mt-auto page-footer font-small">

        <div class="footer-copyright text-center py-3">
            {% if state.lower() == 'ca' %}
              {% if lang == 'en' %}
                For more information, visit <a class = "faqLink" href="https://www.sos.ca.gov/elections/voting-resources/" target = "_blank"><font>www.sos.ca.gov/elections/voting-resources</a>.
                  <br>
                  California Voter Hotline: (800) 345-VOTE (8683)
              {% elif lang == 'es' %}
                Para más información, visite <a href="https://www.sos.ca.gov/elections/voting-resources/voting-california/spanish/" target = "_blank">www.sos.ca.gov/elections/voting-resources</a>.
                 <br>
                 California Voter Hotline: (800) 232-VOTA (8682)
              {% elif lang == 'zh' %}
                更多信息请访问:
                <a href="https://www.sos.ca.gov/elections/voting-resources/voting-california/chinese/" target = "_blank">www.sos.ca.gov/elections/voting-resources</a>.
                  <br>
                  California Voter Hotline: (800) 339-2857 - 中文 / Chinese
              {% endif %}
            {% elif state.lower() == 'fl' %}
              {% if lang == 'en' %}
                For more information, visit <a class = "faqLink" href="https://dos.myflorida.com/elections/for-voters/" target = "_blank"><font>dos.myflorida.com/elections/for-voters</font></a>.
                <br>
                Florida Voter Assistance Hotline: 1-866-308-673 | Monday thru Friday | 8am-5pm (extended hours during statewide elections)
              {% elif lang == 'es' %}
                Para más información, visite <a href="https://dos.myflorida.com/elections/for-voters/" target = "_blank"><font>dos.myflorida.com/elections/for-voters</font></a>.
              {% endif %}
            {% endif %}
        </div>
        <!-- Copyright -->


      </footer>
    {% endblock %}

  <!-- </section> -->
  </body>

</html>
