{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block header %}
  California Voter Resource Guide
{% endblock %}


{% block body %}

<p>
  <font color = white size=4>
    Voters must register in California at least 15 days before the upcoming election. The last day to register to vote in the November 3, 2020 general election is
    <font><strong>October 19, 2020 </strong></font>
    (if mailed, must be postmarked by end of day). Anyone eligible can register online. <br><br>

    In light of the Covid-19 pandemic, California Governor Gavin Newsom ordered that
    <font><strong>all registered California residents will receive a mail-in ballot.</strong></font>
    However, if voters prefer to vote in person, polling places will be available. You can find your polling place information 2-4 weeks before the election
    <a href="{{ url_for('poll_forms')}}" class = "sectLink">here</a>.
  </font>
</p>


    <section id="home">
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="{{ url_for('registration_forms') }}">
              <h1 align= center>
                Am I Registered to Vote?
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="{{ url_for('register') }}">
              <h1 align= center>
                Register Now
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href= "{{ url_for('poll_forms') }}">
              <h1 align= center>
                Find My Polling Place
              </h1>
            </a>
        </div>
        <div class="alert alert-secondary sect" role="alert">
            <a class = "sectLink" href="{{ url_for('faqs') }}">
              <h1 align= center>
                Frequently Asked Questions
              </h1>
            </a>
        </div>
      <div class="alert alert-secondary sect" role="alert">
          <a class = "sectLink" href="{{ url_for('remind') }}">
            <h1 align= center>
              Sign Up for Voting Reminders
            </h1>
          </a>
      </div>

    </section>


{% endblock %}
