{% set page = 'index' %}

{% extends 'layout.html' %}

  {% block body %}
    <div class = "container" align=center>
      <p align=center>
      <h1 style= "margin-top: 30px;">
        Days until the November 3, 2020 general election:
        <!-- <button class = "btn-index" disabled> -->
          <font size = 15 color = #000951>
          {{ days_to_election }}
        </font>
        <!-- </button> -->
      </h1>

      <br>

      <h2>
        Click on your state on the map or in the sidebar to view information about voting in your state.
      <h2>
      <br>


<div class = "row">
  <div class = "col-lg-10">
      <!-- clickable map -->
      <iframe src="https://createaclickablemap.com/map.php?&id=94713&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe>
        <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
  </div>


<div class = "col-lg-2">
  <p align = left >
    {% for state in states %}
      {% if state != 'US' %}
            <a href="{{ url_for('home', state=state, lang="en")}}" style = "padding: 20px" >
              <button class="btn btn-big">
                <font size = 6 >{{stateDict[state.lower()]}}</font>
              </button>
            </a>
        {% endif %}
    {% endfor %}
  </p>
</div>

</div>
    </div>
  {% endblock %}
