<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-directional-buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

    <!-- plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>SF Voting Resources</title>

    {% endblock %}
  </head>


  <body class="d-flex flex-column min-vh-100" {% block background %}
  style = "background-color: #272c33;"
  {% endblock %}>
    <!-- Nav bar -->
    <nav class="navbar navbar sticky-top navbar-expand-md bg-dark navbar-dark" style ="background-color: indigo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" href="{{ url_for('index')}}">Home</a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('registration_forms')}}">Am I Registered?</a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('faqs') }}">FAQS</a></li>
          <li><a class="nav-item nav-link" href= "{{ url_for('poll_forms') }}">Poll Finder</a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('remind') }}">Voting Reminders</a></li>
        </ul>
        <div class="navbar-nav ml-auto">
            <a href="{{ url_for('contact') }}" class="nav-item nav-link"><font color = "white"> Contact</font></a>
        </div>
      </div>
    </nav>

    {% block warning %}
    {% endblock %}

    <div class="container" align=center>
      <br>
      <h1 align = center>
        <font color=gray>
          {% block header %}
          {% endblock %}
        </font></h1>

    <div>
      {% block body %}
      {% endblock %}
    </div>

    </div>

    <!-- Footer -->
      <footer class = "mt-auto page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style = "background-color: #373c43">
          <font color = "white">© 2020 Copyright:
            Wheelan and Dean
          </font>
        </div>
        <!-- Copyright -->

      </footer>
    <!-- Footer -->

  <!-- </section> -->

  </body>

</html>
