<!doctype html>
<html lang="en">
{% set lang = "es" %}
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

    <!-- plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172950926-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-172950926-1');
    </script>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"href="{{ url_for('static', filename = 'images/favicon/favicon-16x16.png')}}">

    {% endblock %}
    <title>
      {% block title %}
        Breakthrough Voting Initiative
      {% endblock %}
    </title>

  </head>

<!-- #272c33; -->
<!-- #353A3F -->
  <body class="d-flex flex-column min-vh-100"
  {% block background %}
  style = "background-color: white"
  {% endblock %}>

  <!-- optional warning banner -->
  {% block warning %}
  {% if state.lower() == 'ca' %}
  <div class="alert alert-primary" role="alert" style = "margin-bottom: -10px">
    <p padding = 20px>
      A raíz de la pandemia de COVID-19, el gobernador de California, Gavin Newsom, ordenó que
      <strong> todos los residentes de California registrados para votar van a recibir una boleta
        en el correo para la elección general del 3 de Noviembre del 2020. </strong>
      La fecha límite para registrarse para la elección general es <strong>el 19 de Octubre del 2020.</strong>
      Para más información está
      <a href="{{ url_for('faqs', state=state, lang=lang)}}" class = "faqLink">aquí</a>.
    </p>
  </div>
  {% endif %}
  {% endblock %}

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md sticky-top" style ="background-color: #293A73;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="{{ url_for('static', filename='images/menu_icon.png') }}" alt="Menu" height=35px width=40px style = "margin-top: -2px; margin-left: -5px">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
          <li><a class="nav-item nav-link" href="{{ url_for('home', lang=lang, state=state)}}"><font {% if page=='home' %} class ="active" {% endif %}>Menu</font></a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('registration_forms', lang=lang, state=state)}}"><font {% if page=='registration_forms' or page=='registration'%} class ="active" {% endif %}>¿Estoy registrado/a?</font></a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('register', state=state,lang=lang) }}"><font {% if page=='register' %} class ="active" {% endif %}>Registrarse </font></a></li>
          <li><a class="nav-item nav-link" href= "{{ url_for('poll_forms', state=state, lang=lang) }}"><font {% if page=='poll_forms' or page=='pollFinder'%} class ="active" {% endif %}>Buscador de casillas</font></a></li>
          <!-- <li><a class="nav-item nav-link" href="#">Voting Reminders</a></li> -->
          <li><a class="nav-item nav-link" href="{{ url_for('faqs', state=state, lang=lang) }}"><font {% if page=='faqs'%} class ="active" {% endif %}>Preguntas frecuentes</font></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Idioma | Language
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><font color=black>Español</font></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for(page, state=state, lang='en')}}"><font color=black>English | Inglés</font></a>
            {% if 'zh' in langs %}
            <a class="dropdown-item" href="{{ url_for(page, state=state, lang='zh')}}"><font color=black>中文 | Chino</font></a>
            {% endif %}
          </div>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container" align=center>
      <br>
      <h1 align = center>
        <font style = "color: #373c43;">
          {% block header %}
          {% endblock %}
        </font></h1>

    <div>
      {% block body %}
      {% endblock %}
    </div>

    </div>


    {% block footer %}
      <footer class = "mt-auto page-footer font-small">

        <!-- Copyright -->
        <!-- slate hex #373c43 -->
        <div class="footer-copyright text-center py-3" style = "background-color: #293A73">
          <font color = "white">
            Para más información, visite
            {% if state.lower() == 'ca' %}
            <a href="https://www.sos.ca.gov/elections/voting-resources/voting-california/spanish/" target = "_blank"><font color = #CCE5FF>www.sos.ca.gov/elections/voting-resources</font></a>.
            {% elif state.lower() == 'fl' %}
            <a href="https://dos.myflorida.com/elections/for-voters/" target = "_blank"><font color = #CCE5FF>dos.myflorida.com/elections/for-voters</font></a>.
            {% endif %}
          </font>
        </div>
        <!-- Copyright -->


      </footer>
    {% endblock %}

  <!-- </section> -->
  </body>

</html>
