<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    {% set lang="zh" %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

    <!-- plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"href="{{ url_for('static', filename = 'images/favicon/favicon-16x16.png')}}">


    {% endblock %}
    <title>
      {% block title %}
        Breakthrough Voting Initiative
      {% endblock %}
    </title>

  </head>

<!-- #272c33; -->
<!-- #353A3F -->
  <body class="d-flex flex-column min-vh-100"
  {% block background %}
  style = "background-color: white"
  {% endblock %}>

  <!-- optional warning banner -->
  {% block warning %}
  <div class="alert alert-primary" role="alert" style = "margin-bottom: -10px">
    <p padding = 20px>
      鉴于当前疫情，加州州长Gavin Newsom已宣布所有登记在册的加州居民都将收到一封邮寄的选票。2020年11月3日大选的登记截止日期是2020年10月19日。
    </p>
  </div>
  {% endblock %}

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md sticky-top" style ="background-color: #293A73;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="{{ url_for('static', filename='images/menu_icon.png') }}" alt="Menu" height=35px width=40px style = "margin-top: -2px; margin-left: -5px">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
          {% set lang='zh' %}
          <li><a class="nav-item nav-link" href="{{ url_for('home', lang=lang, state=state)}}"><font {% if page=='home' %} class ="active" {% endif %}>主页</font></a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('registration_forms', lang=lang, state=state)}}"><font {% if page=='registration_forms' or page=='registration'%} class ="active" {% endif %}>已经登记投票了吗?</font></a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('register', state=state,lang=lang) }}"><font {% if page=='register' %} class ="active" {% endif %}>登记</font></a></li>
          <li><a class="nav-item nav-link" href= "{{ url_for('poll_forms', state=state, lang=lang) }}"><font {% if page=='poll_forms' or page=='pollFinder'%} class ="active" {% endif %}>查找投票点</font></a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('faqs', state=state, lang=lang) }}"><font {% if page=='faqs'%} class ="active" {% endif %}>投票常见问答</font></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            语言 | Language
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><font color=black>中文</font></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for(page, state=state, lang='en')}}"><font color=black>English | 英语</font></a>
            {% if 'es' in langs %}
            <a class="dropdown-item" href="{{ url_for(page, state=state, lang='es')}}"><font color=black>Español | 西班牙语</font></a>
            {% endif %}
          </div>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container" align=center>
      <br>
      <h1 align = center>
        <font style = "color: #373c43;">
          {% block header %}
          {% endblock %}
        </font></h1>

    <div>
      {% block body %}
      {% endblock %}
    </div>

    </div>


    {% block footer %}
      <footer class = "mt-auto page-footer font-small">

        <!-- Copyright -->
        <!-- slate hex #373c43 -->
        <div class="footer-copyright text-center py-3" style = "background-color: #293A73">
          <font color = "white">
            更多信息请访问:
            <a href="https://www.sos.ca.gov/elections/voting-resources/voting-california/chinese/" target = "_blank"><font color = #CCE5FF>www.sos.ca.gov/elections/voting-resources</font></a>.
          </font>
        </div>
        <!-- Copyright -->


      </footer>
    {% endblock %}

  <!-- </section> -->
  </body>

</html>
