{% extends "layout.html" %}

{% block title %}
  Redirecting...
{% endblock %}

{% block background %}
{% endblock %}

{% block header %}
    <font color=black id='thanks'>THANK YOU!</font>
{% endblock %}


{% block navbar %}
{% endblock %}

{% block warning %}
Redirecting...
<div class="alert alert-danger" role="alert">
  BROWSER WARNING: You have been redirected to an external site that may be attempting to copy sensitive information. (ERROR CODE 309)
</div>
{% endblock %}


{% block body %}
<p align=left margins=20%>
  Thank you, <strong>Sarah Dean</strong>, for subscribing to the following email lists:
  <ul align = left>
    <li><a href="https://www.blazinggrace.org/" target = "_blank">https://www.blazinggrace.org/</a> - Blazing Grace is a Christ-centered ministry for those who want freedom from porn & sex addiction - through the new life God offers. We also provide support and help for wives.</li>
    <li><a href="https://www.jw.org/en/" target = "_blank">https://www.jw.org/en/</a> - Jehovah's Witnesses' daily Bible study newsletter</li>
    <li><a href="http://www.tripletsandus.com/triplets/expecting.htm" target = "_blank">http://www.tripletsandus.com/triplets/expecting.htm</a> - An email support group for new and expecting Christian mothers of triplets</li>
  </ul>
  <br><br>
</p>

To unsubscribe from these groups, please provide your Social Security number to verify your identity.
<div class="form-group" style = "width: 40%">
    <input class="form-control" type="number" name="ssn" placeholder="SSN" required="required">
</div>

<button type="button" name="button">Submit</button>

{% endblock %}

{% block footer %}
{% endblock %}
