{% extends "layout.html" %}

{% set page='faqs' %}

{% block header %}
    {% if lang == "en" %}
      Frequently Asked Questions
    {% elif lang == "es" %}
      Preguntas frecuentes
    {% elif lang == "zh" %}
      选民常见问答
    {% endif %}
{% endblock %}

{% block body %}

<form class = "formSect" action="{{ url_for('faq_search', state=state, lang=lang) }}" method="post">

  <input class = "search_bar" type="text" name="keyword" placeholder=
    "{% if lang == 'en' %}
Search keyword
    {% elif lang == 'es' %}
Buscar palabra clave
    {% endif %}"
  required="required">

  <button class="btn btn-custom">
    {% if lang == 'en' %}
      Search
    {% elif lang == 'es' %}
      Buscar
    {% endif %}
  </button>

</form>
<br>

{% if search %}
<h3 align=left margin-bottom=10px>
  {% if lang == 'en' %}
    Search results for:
  {% elif lang == 'es' %}
    Resultados de la búsqueda de:
  {% endif %}
  {{keyword}}</h3>
<div align = left>
<a href="{{ url_for('faqs', lang=lang, state=state)}}">
 <button class = "btn btn-big">
   {% if lang == 'en' %}
     Clear search
   {% elif lang == 'es' %}
     Quitar búsqueda
    {% endif %}
 </button>
</a>
</div>
{% from state.upper() + '/' + lang_full + '/faqs/faqs_registration.html' import Q as Q1 %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_registration.html' import A as A1 %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_general.html' import Q as Q2 %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_general.html' import A as A2 %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_vbm.html' import Q as Q3 %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_vbm.html' import A as A3 %}
{% set Q = Q1 + Q2 + Q3 %}
{% set A = A1 + A2 + A3 %}
{% include 'accordion.html' %}



{% else %}

<p align = center>
  <a href="#registration">
    <button class = "btn btn-big" style = "margin-right: 20px">
      {% if lang == 'en' %}
        Registration Questions
      {% elif lang == 'es' %}
        Preguntas acerca del registro
      {% endif %}
    </button>
  </a>
  <a href="#general">
    <button class = "btn btn-big" style = "margin-right: 20px">
      {% if lang == 'en' %}
        General Voting Questions
      {% elif lang == 'es' %}
    Preguntas generales acerca de votar
      {% endif %}
    </button>
  </a>
  <a href="#vbm">
    <button class = "btn btn-big">
      {% if lang == 'en' %}
        Vote-by-Mail Questions
      {% elif lang == 'es' %}
        Preguntas acerca de votar por correo
      {% endif %}
    </button>
  </a>
</p>
<br>

<a class="anchor" id="registration"></a>
<h3 align=left margin-bottom=10px>
  {% if lang == 'en' %}
    Questions about Voter Registration
  {% elif lang == 'es' %}
    Preguntas acerca del registro de votante
  {% endif %}
</h3><br>
{% from state.upper() + '/' + lang_full + '/faqs/faqs_registration.html' import Q %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_registration.html' import A %}
{% set section = 'registration' %}
{% include 'accordion.html' %}

<a class="anchor" id="general"></a>
<h3 align=left margin-bottom=10px>
  {% if lang == 'en' %}
    General Questions About Voting
  {% elif lang == 'es' %}
Preguntas generales acerca de votar
  {% endif %}
</h3><br>
{% from state.upper() + '/' + lang_full + '/faqs/faqs_general.html' import Q %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_general.html' import A %}
{% set section = 'general' %}
{% include 'accordion.html' %}

<a class="anchor" id="vbm"></a>
<h3 align=left margin-bottom=10px>
  {% if lang == 'en' %}
    Questions About Vote-by-Mail
  {% elif lang == 'es' %}
    Preguntas acerca de votar por correo
  {% endif %}</h3><br>
{% from state.upper() + '/' + lang_full + '/faqs/faqs_vbm.html' import Q %}
{% from state.upper() + '/' + lang_full + '/faqs/faqs_vbm.html' import A %}
{% set section = 'vbm' %}
{% include 'accordion.html' %}
{% endif %}

{% endblock %}
